.sticky-option
	ul
		li
			a(href="javascript:void(0)")
				//- span.mdi.mdi-credit-card
				span
					img(src="./img/quickly_access.png", alt="")
				span Truy cập nhanh
		li
			a(href="#")
				span.mdi.mdi-map-marker
				span Mạng lưới ATM/
					br
					| Điểm Giao Dịch
		li
			a(href="#")
				span.mdi.mdi-clipboard-text
				span Biểu Phí
		li
			a(href="#")
				span.mdi.mdi-currency-usd
				span Tỷ giá
		li
			a(href="#")
				span.mdi.mdi-chart-line-variant
				span Lãi suất
		li
			a(href="#")
				span.mdi.mdi-credit-card
				span Câu hỏi thường gắp