section.section.block-index-6
	.container
		.row
			.col
				h2.main-title.blue(data-aos="fade-down") Dịch vụ ngân hàng điện tử
		.row
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="450")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_1.png', alt='')
						figcaption
							h3 Dịch vụ SMS thông báo thay đổi số dư tài khoản tiền gửi tiết kiệm...
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="600")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_2.png', alt='')
						figcaption
							h3 Dịch vụ liên kết Thẻ Nam A Bank với ví điện tử AirPay
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="750")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_3.png', alt='')
						figcaption
							h3 Chuyển tiền nhanh liên ngân hàng 24/7
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="900")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_4.png', alt='')
						figcaption
							h3 Đăng ký dịch vụ SMS Banking bằng tin nhắn SMS
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1050")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_5.png', alt='')
						figcaption
							h3 Dịch vụ mua mã thẻ
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1200")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_6.png', alt='')
						figcaption
							h3 Dịch vụ Thu ngân sách Nhà nước và nộp thuế điện tử
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1350")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_7.png', alt='')
						figcaption
							h3 Video "Hướng dẫn sử dụng Internet Banking"
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1500")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_8.png', alt='')
						figcaption
							h3 Đăng ký dịch vụ trực tuyến cùng Nam A Bank
						
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1650")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block5/bl5_banner_9.png', alt='')
						figcaption
							h3 Tiết Kiệm Trực Tuyến
						
