section.section.block-index-8
	.big_wrapper
		.footer-content-0
			.content(data-aos="fade-down")
				h2.main-title.white Nam A Bank sẵn sàng hỗ trợ bạn
				p Chi tiết về sản phẩm, dịch vụ, Quý khách vui lòng liên hệ:
				p Các điểm giao dịch của Nam A Bank trên toàn quốc. Hoặc Trung tâm dịch vụ khách hàng
				a(href="#")
					span.mdi.mdi-phone
					|  1900 6679

		.footer-content-1(data-aos="fade-down",data-aos-delay="500")
			.container
				.row
					.col-lg-3.col-md-6.item
						h3 Giới thiệu
						nav.list-group
							.list-group-item
								a(href="#")
									| Tổng quan
							.list-group-item
								a(href="#")
									| Sơ đồ tổ chức
							.list-group-item
								a(href="#")
									| Sứ mệnh – Tầm nhìn
							.list-group-item
								a(href="#")
									| Cơ cấu quản trị Ngân hàng
							.list-group-item
								a(href="#")
									| Cơ cấu quản trị
							.list-group-item
								a(href="#")
									| Ban lãnh đạo Nam A Bank
							.list-group-item
								a(href="#")
									| Danh hiệu Thành tích
					.col-lg-3.col-md-6.item
						h3 Cá nhân
						nav.list-group
							.list-group-item
								a(href="#")
									| Chương trình khuyến mãi
							.list-group-item
								a(href="#")
									| Sản phẩm tiền gửi
							.list-group-item
								a(href="#")
									| Sản phẩm tiết kiệm
							.list-group-item
								a(href="#")
									| Sản phẩm tín dụng
							.list-group-item
								a(href="#")
									| Sản phẩm thẻ
							.list-group-item
								a(href="#")
									| Bảo hiểm
							.list-group-item
								a(href="#")
									| Dịch vụ chuyển, nhận tiền
							.list-group-item
								a(href="#")
									| Ngân hàng điện tử
					.col-lg-3.col-md-6.item
						h3 Doanh nghiệp
						nav.list-group
							.list-group-item
								a(href="#")
									| Chương trình khuyến mãi
							.list-group-item
								a(href="#")
									| Sản phẩm tiền gửi
							.list-group-item
								a(href="#")
									| Tín dụng doanh nghiệp
							.list-group-item
								a(href="#")
									| Bảo lãnh
							.list-group-item
								a(href="#")
									| Thanh toán quốc tế
							.list-group-item
								a(href="#")
									| Ngân hàng điện tử
					.col-lg-3.col-md-6.item
						h3 Truy cập nhanh
						nav.list-group
							.list-group-item
								a(href="#")
									| Tra cứu Hóa đơn điện tử
							.list-group-item
								a(href="#")
									| Tra cứu Thư bảo lãnh
							.list-group-item
								a(href="#")
									| Lãi suất
							.list-group-item
								a(href="#")
									| Biểu phí dịch vụ
							.list-group-item
								a(href="#")
									| Tỷ giá - Lãi suất
							.list-group-item
								a(href="#")
									| Tỷ giá ngoại tệ - giá vàng
							.list-group-item
								a(href="#")
									| Tài liệu - biểu mẫu
		.wrapper_block
			.footer-content-2(data-aos="fade-down",data-aos-delay="1000")
				.container
					.row.justify-content-between
						.col-lg-3
							.slogan.text-center.text-lg-left.d-lg-flex
								.logo
									a.mb-5.mb-lg-0(href="")
										img(src="./img/logo_1.png", alt="logo")
						.col-lg-6
							.quote.mb-lg-0.text-center.text-lg-left
								h6.h6 Ngân hàng TMCP Nam A
								.text
									p 201 - 203 Cách Mạng Tháng Tám, Phường 4, Quận 3, Tp. HCM
									p ĐT: (84-28) 3929 6699 - Fax: (84-28) 3929 6688
									p Email:
										span dichvukhachhang@namabank.com.vn
						.col-lg-3.social.text-center.text-lg-left
							h6.h6 Liên kết nhanh
							ul.list-inline
								li.list-item
									a(href='#').fas.fa-mobile-alt
								li.list-item
									a(href='#').fab.fa-facebook-f
								li.list-item
									a(href='#').fab.fa-youtube
								li.list-item
									a(href='#').fab.fa-google-plus-g
								li.list-item
									a(href='#').fas.fa-comment
			.copy-right(data-aos="fade-up" data-aos-anchor-placement="top-bottom")
				.container.wrapper
					.row
						.col-lg-3
							.bottom-menu
								a(href="#") Điều khoản & Điều kiện sử dụng
								a(href="#") Sitemap
						.col-lg-6
							.copy.mt-2.mt-md-0.text-center.text-lg-left
								p Copyright © 2018 NamAbank. All right reserved.
						.col-lg-3
							a.register(href="" id='register' )
								img.img-fluid(src="./img/support.png", alt="")
