section.section.block-index-4
	.container
		.row
			.col
				h2.main-title.blue(data-aos="fade-down") Bảo hiểm phi nhân thọ
		.row
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="500")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_1.png', alt='')
						figcaption
							h3 Bảo hiểm Nhà tư nhân
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="650")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_2.png', alt='')
						figcaption
							h3 Bảo hiểm xe cơ giới
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="800")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_3.png', alt='')
						figcaption
							h3 Bảo hiểm cháy nổ
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="950")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_4.png', alt='')
						figcaption
							h3 Bảo hiểm hàng hóa, vận chuyển
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1100")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_5.png', alt='')
						figcaption
							h3 Bảo hiểm chăm sóc sức khỏe
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1250")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_6.png', alt='')
						figcaption
							h3 Bảo hiểm tai nạn 24/24
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1400")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_7.png', alt='')
						figcaption
							h3 Bảo hiểm xây dựng và lắp đặt
			.col-lg-4.col-6(data-aos="fade-down" data-aos-duration="1550")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block3/bl3_banner_8.png', alt='')
						figcaption
							h3 Và các sản phẩm bảo hiểm khác
						
