section.section.block-index-2
	.container
		.row
			.col
				.nav-wrap(data-aos="fade-down")
					a.nav-toggle(href="javascript:void(0)") Danh mục
					nav
						ul#myTab.nav.nav-tabs(role="tablist" )
							li.nav-item
								a.active(data-toggle="tab" href="#tab-1" ) Tài khoản
							li.nav-item
								a(data-toggle="tab" href="#tab-2" ) Tiết kiệm
							li.nav-item
								a(data-toggle="tab" href="#tab-3" ) Dịch vụ
							li.nav-item
								a(data-toggle="tab" href="#tab-4" ) Cho vay
							li.nav-item
								a(data-toggle="tab" href="#tab-5" ) Thẻ
							li.nav-item
								a(data-toggle="tab" href="#tab-6" ) Bảo hiểm
				#myTabContent.tab-content

					#tab-1.tab-pane.fade.show.active
						.swiper-button-prev(data-aos="fade-up-right")
							span.mdi.mdi-chevron-left
						.swiper-button-next(data-aos="fade-up-left")
							span.mdi.mdi-chevron-right
						.swiper-container(data-aos="fade-up")
							.swiper-wrapper
								.swiper-slide
									figure
										.boxzoom
											img(src='./img/block1/bl1_banner_1.jpg', alt='')
										figcaption
											a(href="#")
												h3 Vay siêu tốc lộc phát
											p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
								.swiper-slide
									figure
										.boxzoom
											img(src='./img/block1/bl1_banner_2.jpg', alt='')
										figcaption
											a(href="#")
												h3 Vay mua xe tại Đại lý của DoThanh Auto
											p Nam A Bank cung cấp giải pháp tài chính vượt trội đáp ứng kịp thời nhu cầu mua xe của khách hàng.
								.swiper-slide
									figure
										.boxzoom
											img(src='./img/block1/bl1_banner_3.jpg', alt='')
										figcaption
											a(href="#")
												h3 Vay kinh doanh tự do
											p Sản phẩm Vay tiêu dùng KH cá nhân được thiết kế dành riêng cho Khách hàng là Tiểu thương, Hộ kinh doanh và Chủ doanh nghiệp nhỏ...

						//- #tab-2.tab-pane.fade
					#tab-2.tab-pane.fade
						.swiper-button-prev
							span.mdi.mdi-chevron-left
						.swiper-button-next
							span.mdi.mdi-chevron-right
						.swiper-container
							.swiper-wrapper
								- for ( var x = 1; x < 4; x++)
									.swiper-slide
										figure
											.boxzoom
												img(src='./img/block1/bl1_banner_'+x+'.jpg', alt='')
											figcaption
												a(href="#")
													h3 Vay siêu tốc lộc phát
												p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
					#tab-2.tab-pane.fade
						.swiper-button-prev
							span.mdi.mdi-chevron-left
						.swiper-button-next
							span.mdi.mdi-chevron-right
						.swiper-container
							.swiper-wrapper
								- for ( var x = 1; x < 4; x++)
									.swiper-slide
										figure
											.boxzoom
												img(src='./img/block1/bl1_banner_'+x+'.jpg', alt='')
											figcaption
												a(href="#")
													h3 Vay siêu tốc lộc phát
												p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
					#tab-3.tab-pane.fade
						.swiper-button-prev
							span.mdi.mdi-chevron-left
						.swiper-button-next
							span.mdi.mdi-chevron-right
						.swiper-container
							.swiper-wrapper
								- for ( var x = 1; x < 4; x++)
									.swiper-slide
										figure
											.boxzoom
												img(src='./img/block1/bl1_banner_'+x+'.jpg', alt='')
											figcaption
												a(href="#")
													h3 Vay siêu tốc lộc phát
												p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
					#tab-4.tab-pane.fade
						.swiper-button-prev
							span.mdi.mdi-chevron-left
						.swiper-button-next
							span.mdi.mdi-chevron-right
						.swiper-container
							.swiper-wrapper
								- for ( var x = 1; x < 4; x++)
									.swiper-slide
										figure
											.boxzoom
												img(src='./img/block1/bl1_banner_'+x+'.jpg', alt='')
											figcaption
												a(href="#")
													h3 Vay siêu tốc lộc phát
												p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
					#tab-5.tab-pane.fade
						.swiper-button-prev
							span.mdi.mdi-chevron-left
						.swiper-button-next
							span.mdi.mdi-chevron-right
						.swiper-container
							.swiper-wrapper
								- for ( var x = 1; x < 4; x++)
									.swiper-slide
										figure
											.boxzoom
												img(src='./img/block1/bl1_banner_'+x+'.jpg', alt='')
											figcaption
												a(href="#")
													h3 Vay siêu tốc lộc phát
												p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
					#tab-6.tab-pane.fade
						.swiper-button-prev
							span.mdi.mdi-chevron-left
						.swiper-button-next
							span.mdi.mdi-chevron-right
						.swiper-container
							.swiper-wrapper
								- for ( var x = 1; x < 4; x++)
									.swiper-slide
										figure
											.boxzoom
												img(src='./img/block1/bl1_banner_'+x+'.jpg', alt='')
											figcaption
												a(href="#")
													h3 Vay siêu tốc lộc phát
												p Nam A Bank cung cấp một khoản tín dụng có tài sản bảo đảm là bất động sản cho khách hàng với quy trình, thủ tục cho vay đơn giản, thời gian xử lý trong vòng 24 giờ.
		.row
			.col
				.block(data-aos="zoom-in")
					a(href="#").read-more.btn.blue XEM TẤT CẢ