section.section.block-index-1
	.swiper-container
		.swiper-pagination
		.swiper-wrapper
			.swiper-slide
				.imgbox(style="background-image: url('./img/banner_1.jpg')")
					img(src="./img/banner_1.jpg", alt="")
					//- a(href="https://www.youtube.com/watch?v=jX_PyOsq78M" data-fancybox).video
					//- 	em.mdi.mdi-play
			.swiper-slide
				.imgbox(style="background-image: url('./img/banner_2.jpg')")
					img(src="./img/banner_2.jpg", alt="")
			.swiper-slide
				.imgbox(style="background-image: url('./img/banner_3.jpg')")
					img(src="./img/banner_3.jpg", alt="")
	//- .btn-next#button-next
	//- 	span.mdi.mdi-chevron-down