header.cc-header
	.top-header
		.container
			.row
				.col-auto.logo
					a(href="#")
						img(src="./img/logo_1.png", alt="")
				.col-auto.header-top-item-list
					.header-top-item.personal
						a(href="#")
							img(src="./img/header_icon_1.png", alt="")
							span Cá Nhân
					.header-top-item.company
						a(href="#")
							img(src="./img/header_icon_2.png", alt="")
							span Doanh Nghiệp
					.header-top-item.card
						a(href="#")
							img(src="./img/header_icon_3.png", alt="")
							span Thẻ
					.header-top-item.about
						a(href="#")
							img(src="./img/header_icon_4.png", alt="")
							span Giới thiệu
				.col-auto.internet-banking
					a(href="javascript:void(0)")
						span.mdi.mdi-lock
						b Internet Banking
				.menu-toggle
					.line-menu.half.start
					.line-menu
					.line-menu.half.end
	.bottom-header
		.container
			.row
				.col-auto.hotline
					a(href="tel:19006679")
						img(src="./img/hotline.png", alt="")
						p Trung tâm dịch vụ khách hàng:
							b 1900 6679
				.col-auto.header-bottom-item-list
					.menu-list
						ul
							li
								a(href="#") Sản phẩm
							li
								a(href="#") Dịch vụ
							li
								a(href="#") Ngân hàng điện tử
							li
								a(href="#") Khuyến mãi
							li
								a(href="#") Hỗ trợ
				
					.search
						.item.search-toggle
							span.mdi.mdi-magnify
					.social
						.item.facebook
							a(href="#")
								span.fab.fa-facebook
						.item.twitter
							a(href="#")
								span.fab.fa-twitter
					.language
						a.item(href="#")
							img(src="./img/flag_1.png", alt="")