//- section.canhcam-ph-4
section.section.block-index-3
	.container
		.row
			.col
				h2.main-title.blue(data-aos="fade-down") Bảo hiểm nhân thọ
		.row
			.col-lg-4(data-aos="fade-down")
				a(href="#").wrapper
					figure
						.boxzoom
							img(src='./img/block2/bl2_banner_1.jpg', alt='')
						figcaption
							h3 Dòng sản phẩm bảo vệ
							p Khi đã được bảo vệ những gì quan trọng trong đời, bạn sẽ vô tư sống, không chần chừ lo nghĩ. Hãy lên kế hoạch bảo vệ những người thương yêu với những sản phẩm bảo hiểm được thiết kế đúng nhu cầu của mình.
							
			.col-lg-4(data-aos="fade-up")
				a(href="#").wrapper
					figure
						.boxzoom
							img(src='./img/block2/bl2_banner_2.jpg', alt='')
						figcaption
							h3 Dòng sản phẩm đầu tư
							p Với việc đầu tư vào sản phẩm bảo hiểm nhân thọ của FWD, bạn có thể linh hoạt điều chỉnh quyền lợi và tận hưởng những khoản lợi nhuận hấp dẫn.
							
			.col-lg-4(data-aos="fade-down")
				a(href="#").wrapper
					figure
						.boxzoom
							img(src='./img/block2/bl2_banner_3.jpg', alt='')
						figcaption
							h3 Dòng sản phẩm tiết kiệm
							p Phương tiện thanh toán thay thế tiền mặt linh hoạt và an toàn, không cần duy trì số dư tối thiểu trong tài khoản.
							
		.row
			.col
				.block(data-aos="zoom-in")
					a(href="#").read-more.btn.blue XEM TẤT CẢ
