extends _layout/_layout.pug

block var
	- title = 'Home'
	- bodyClass = 'index-page'

block header
	include ../_components/header/index.pug
block main
	include ../_components/index/sticky-option/index.pug
	#fullpage
		include ../_components/index/i-1/index.pug
		include ../_components/index/i-2/index.pug
		include ../_components/index/i-3/index.pug
		include ../_components/index/i-4/index.pug
		include ../_components/index/i-5/index.pug
		include ../_components/index/i-6/index.pug
		include ../_components/index/i-7/index.pug
		include ../_components/index/i-8/index.pug
block footer
	include ../_components/footer/index.pug