section.section.block-index-7
	.container
		h2.main-title.blue(data-aos="fade-down") Dịch vụ khác
		.row
			.col
				.swiper-button-prev(data-aos="fade-up")
					span.mdi.mdi-chevron-left
				.swiper-button-next(data-aos="fade-up")
					span.mdi.mdi-chevron-right
				.swiper-container(data-aos="fade-up")
					.swiper-wrapper
						.swiper-slide
							figure
								.boxzoom
									img(src='./img/block6/bl6_banner_1.jpg', alt='')
								figcaption
									a(href="#")
										h3 Chuyển tiền quốc tế siêu nhanh – Nhận ngay trong ngày
									p Hình thức chuyển tiền đến các nước Khu vực Đông Nam Á, Trung Quốc, Hàn Quốc, Đài Loan nhanh chóng, hiệu quả.
						.swiper-slide
							figure
								.boxzoom
									img(src='./img/block6/bl6_banner_2.jpg', alt='')
								figcaption
									a(href="#")
										h3 Nhận tiền trong nước
									p Nam A Bank cung cấp cho khách hàng dịch vụ nhận chuyển tiền trong nước giúp khách hàng có thể nhận tiền mặt hay nhận tiền chuyển khoản từ các ngân hàng trong nước chuyển về thông qua Nam A Bank.
						.swiper-slide
							figure
								.boxzoom
									img(src='./img/block6/bl6_banner_3.jpg', alt='')
								figcaption
									a(href="#")
										h3 Chuyển tiền nhanh Western Union
									p Dịch vụ chuyển tiền nhanh Western Union giúp khách hàng có thể nhận tiền chuyển đến từ các nước trên thế giới chỉ trong vài phút.
						.swiper-slide
							figure
								.boxzoom
									img(src='./img/block6/bl6_banner_4.jpg', alt='')
								figcaption
									a(href="#")
										h3 Chuyển tiền trong nước
									p Dịch vụ chuyển tiền trong nước của Nam A Bank giúp Quý khách hàng có tài khoản hoặc không có tài khoản dễ dàng chuyển tiền đến cho đối tác, người thân, bạn bè,… nhận tại bất kỳ ngân hàng nào.