section.section.block-index-5
	.container
		h2.main-title.blue(data-aos="fade-down") Sản phẩm thẻ
		.row
			.col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="1000")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block4/bl4_banner_1.jpg', alt='')
						figcaption
							h3 Tải app mobile – Trúng ngay iphoneX
			.col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="1000")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block4/bl4_banner_2.jpg', alt='')
						figcaption
							h3 Chương trình ưu đãi “eBanking Happy day”
			.col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="1000")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block4/bl4_banner_3.jpg', alt='')
						figcaption
							h3 Chuỗi chương trình khuyến mãi “26 năm - Bứt phá vươn xa”
			.col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="2000")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block4/bl4_banner_4.jpg', alt='')
						figcaption
							h3 Chương trình “Nâng bước đến trường - Thắp sáng tương lai”
			.col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="2000")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block4/bl4_banner_5.jpg', alt='')
						figcaption
							h3 Mua mã điện thoại online - Nhận ngay “siêu” chiết khấu
			.col-lg-4.col-sm-6(data-aos="fade-up" data-aos-duration="2000")
				a(href="#")
					figure
						.boxzoom
							img(src='./img/block4/bl4_banner_6.jpg', alt='')
						figcaption
							h3 Chuyển tiền đón tết - Gắn kết tình thân
		.row
			.col
				.block(data-aos="zoom-in")
					a.read-more.blue(href="#") xem tất cả